body{
background-color: #b31f3f;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto)
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
    padding: 50px 20px;
    background-color: #df2f55;
  }

  .message{
      
  }

  .header {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .heart-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #ffffff;
  }
  
  .yes-button, .maybe-button {
    background-color: #b31f3f;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .yes-button {
    margin-right: 10px;
  }
  
  .couple-image {
    width: 500px;
    height: 300px;
    margin-top: 30px;
  }
  
